<div class="about">

  <p>I'm a Hacker-in-Residence at the New York Tech Meetup and graduate of the Flatiron School. And before that ...  </p>

  <div class="dear-flatiron">
    <img src="/assets/dear-flatiron.png"></img>
  </div>

</div>