
<section>
  <p><strong class="black">I used to be really scared of dogs.</strong> </br>Then I saw one raise its hind leg and take a piss. On the sidewalk. In front of everybody. </br>I'm still afraid of dogs, but now I think they're gross.</p>

<!--       <p>I went from an all-black classroom to an all-white classroom.</br> It wasn't until college that I was in a room that was truly diverse -- where everyone looked so different, that what you looked like didn't matter.</br> I hope I find that room again.</p>

  <p>My old boss once told me I come in two speeds: 0mph and 100mph. And if I'm not going 100mph, I'm not happy. True facts.</p>

  <P>I wish I learned sooner that being assertive and being nice weren't mutally exclusive.</p>

  <p>When I applied to the Flatiron School, I didn't like their application. It didn't really capture who I was. So I made my own and drew this cartoon. Now people think I'm a cartoonist. Ha.</p>

  <p>If you ever find me face-first in chocolate cake, shit's going down.</p>

  <p>The best way to deal with Imposter Syndrome is to find other imposters and laugh together at all the people you're fooling. We meet on Sundays. You're welcome to join us.</p> -->
  
</section>

