<div class="projects">
  <section>
    <h2> Code Club </h2>
    <p>Every Sunday, a small group of developers gather to read code we've never seen before. We look at mostly gems or libraries with a decent number of downloads and a codebase of ~100 lines. Together, we read them, going line by line discovering patterns, styles, and new ways of writing code.</p>
  </section>
  <section>
    <h2>#CodeNewbie </h2>
    <p>Every Wednesday at 7PM EST, beginner coders and more experienced developer gather on the Twitters to share experiences, stories, and resources on learning to code. Each week has a different theme, like "Getting Stuck" and "Starter Projects." I hope you <a href="http://codenewbie.herokuapp.com/" target="_blank">join me</a> next time.</p>
  </section>
  <section>
    <h2>Foobar Show </h2>
    <p>Getting back to my journalistic roots by researching and interviewing people doing interesting work tech, and putting together a pseudo-tech talk telling their stories. </p>
  </section>
</div>