<% @posts.each do |post| %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= raw markdown.render(post.preview) unless post.preview.nil? %></p>
    <%= link_to "continue", post %>
  </div>
<% end %>