<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true) %>

<div class="posts">
  <h2><%= @post.title %></h2>
  <p><%= raw markdown.render(@post.body) unless @post.body.nil? %></p>
  </br>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), :method => :delete, data: {confirm: "You sure?" } %>
</div>